.overlay-content {
    background-color: transparent;
    top: 0%;
    z-index: 9999;
    width: 100%;
    position: fixed;
    padding: 10px 1 0px;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}


.nav-icon {
    font-size: 30px;
    color: aliceblue;
}

.name-tag {
    color: white;
    font-weight: 800;
    font-family: monospace;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 30px;
}

.name-tag:hover {
    color: #FF4D5A;
    transition: all linear .2s;
}

.nav-logo {
    margin: 10px 20px;
    color: white;
}

.nav-logo2 {
    float: right;
    margin: 10px 20px;
}

.ican-a {
    color: white;
    text-decoration: none;
}

.ican-a :hover {
    color: #FF4D5A;
}

@media only screen and (max-width: 550px) {
    .name-tag {
        color: white;
        font-weight: 800;
        font-family: monospace;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 20px;
    }
       
.nav-icon {
    font-size: 20px;
    color: aliceblue;
}
}